.rejectNode {
  background-color: red;
}

.acceptNode {
  background-color: greenyellow;
}

.haltNode {
  background-color: blue;
}

.nondetNode {
  background-color: orange;
}

.react-flow__node.selected {
  border-color: slateblue;
  border-inline-width: medium;
}

.component {
  border: 1px solid grey;
  border-radius: 10px;
}
