.rejectNode {
  background-color: red;
}

.acceptNode {
  background-color: greenyellow;
}

.haltNode {
  background-color: blue;
}

.nondetNode {
  background-color: orange;
}

.react-flow__node.selected {
  border-color: slateblue;
  border-inline-width: medium;
}

.react-flow__edge-path {
  stroke: white;
  stroke-width: 5;
}

.component {
  border: 1px solid grey;
  border-radius: 10px;
}

html, body {
  height: 99%;
}

.homeButtons button {
  aspect-ratio: 1 / 1;
  width: 150px;
  border-radius: 50%;
  position: absolute;
}
